@import "./global/global.css";
@import "./utilities/variables.css";

@import "./global/header.css";


/* utilities */
@import "./utilities/components.css";

/* Home */
@import "./home/hero.css";
@import "./home/skills.css";

