@import "./global/global.css";
@import "./utilities/variables.css";

@import "./global/header.css";
@import "./global/footer.css";




/* utilities */
@import "./utilities/components.css";

/* Home */
@import "./home/hero.css";
@import "./home/skills.css";
@import "./home/project.css";
@import "./home/contact.css";

