/* Project item styled like card */

#projects .skills-sub {
    text-align: center;
}

#projects .skills-card {
  padding-bottom: 0px;
}

.pitem {
  background: var(--paper);
  border: 1px solid var(--line);
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: var(--shadow); */
}

.pitem img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.pitem h3 {
  margin: 10px 0px;
  text-align: center;
}

.pitem p {
  margin:  15px;
  text-align: center;
  color: var(--muted);

}

.proj-lang ul {
    display: flex;
    gap: 5px;
    font-size: 0.60rem;
    text-transform: uppercase;
    align-items: center;
    margin: 10px 0 0 17px;
}

.proj-lang ul li {
    padding: 5px 7px;
    border: 1px solid var(--line);
}

#projects .btn {
  padding: 5px 10px;
  margin: 17px;
  font-size: 0.95rem;
}

#projects .nav-round {
    top: 190px;
}

#projects .nav-round.left {
  left: -15px;
}

#projects .nav-round.right {
  right: -15px;
}




@media (max-width: 1100px) {
  #projects .slide {
    flex-basis: calc(50% - 13px);
  }

}

@media (max-width: 820px) {
  #projects .slide {
    flex-basis: 100%;
  }

  #projects .carousel.shell {
    padding: 0px 80px;
  }

  #projects .nav-round.left {
  left: 0px;
}

#projects .nav-round.right {
  right: 0px;
}

}

@media (max-width: 700px) {
  
  #projects .carousel.shell {
    padding: 0px 30px;
  }

  #projects .nav-round.left {
  left: -25px;
}

#projects .nav-round.right {
  right: -25px;
}

}

@media (max-width: 600px) {
  #projects .skills-card {
    padding-bottom: 20px;
}

  #projects .carousel.shell {
    padding: 0px;
  }


  #projects .nav-round {
  top: auto;
  bottom: 0px;
  left: 50px;
}
  #projects .nav-round.left {
    left: 0px;
}

}

@media (max-width: 500px) {
  #projects p {
    font-size: 0.85rem;
    margin: 0px;
  }

  #projects .carousel.shell {
    padding: 0px 10px;
  }

  #projects .nav-round {
    left: 60px;
}

  #projects .nav-round.left {
  left: 10px;
}

}

@media (max-width: 356px) { 
 #projects .carousel.shell {
    padding: 0px;
  } 

  
  #projects .nav-round {
    left: 50px;
}

  #projects .nav-round.left {
  left: 0px;
}
}

